<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="codazon" sortOrder="999" translate="label">
			<label>codazon</label>
		</tab>
		<section id="onestepcheckout" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>One Step Checkout</label>
			<tab>codazon</tab>
			<resource>Codazon_OneStepCheckout::config_codazon_onestepcheckout</resource>
			<group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>General</label>
				<field id="enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enable</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
		</section>
	</system>
</config>